body {
  background-image: url(https://wallpapercave.com/wp/wp1898996.jpg);
  background-repeat: repeat-y;
  background-size: cover;
}
.container {
  margin-top: 3%;
  margin-bottom: 3%;
  align-items: center;
  margin: 12px auto;
  padding: 25px;
}
.main-text-wrapper {
  display: block;
  border: 1pt;
  border-color: rgb(48, 33, 0);
  border-radius: 10px;
  max-width: 90%;
  max-height: 900px;
  margin-top: 5%;
  margin: 0 auto;
  margin-bottom: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
.search-a-city {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}
.search-input {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px;
  border-style: solid;
  border-color: #fa9eeb;
  border-radius: 10px;
  font-family: "Titillium Web", sans-serif;
  color: #d0d0d8;
}
.search-input:hover,
.search-input:focus {
  border: 2px solid #28eb9d;
  background-color: rgba(0, 0, 0, 0.5);
}
.search-button {
  background-color: #fa9eeb;
  border: 2px;
  border-style: solid;
  border-color: #fa9eeb;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  box-shadow: 1px 1px 0 rgb(255, 255, 255);
}
.search-button:hover {
  background-color: #28eb9d;
}
.location-icon {
  color: #fa9eeb;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  text-shadow: 1px 1px 0 rgb(255, 255, 255);
}
.location-icon:hover {
  color: #28eb9d;
}
h1 {
  font-family: "Coda", cursive;
  color: #fa9eeb;
  text-shadow: 1px 1px 0 rgb(255, 255, 255);
  padding-top: 10px;
}

h2 {
  font-family: "Coda", cursive;
  color: #fa9eeb;
  text-shadow: 1px 1px 1px rgb(255, 195, 245);
}
.current-temperature {
  font-family: "Titillium Web", sans-serif;
  color: #d0d0d8;
  text-align: center;
  font-weight: 700;
}
.degreesType:hover {
  color: #28eb9d;
  cursor: pointer;
}

.current-conditions {
  font-family: "Titillium Web", sans-serif;
  color: #d0d0d8;
  padding-top: 50px;
}
.conditions-text {
  font-weight: 800;
  font-family: "La Belle Aurore", cursive;
  color: #28eb9d;
  font-size: 24px;
  line-height: 10px;
  text-shadow: 0.5px 0.5px 2px #28eb9d;
}
.note-for-today {
  font-family: "La Belle Aurore", cursive;
  color: #28eb9d;
  font-size: 24px;
  text-shadow: 0.5px 0.5px 2px #28eb9d;
  line-height: 10px;
}
.weather-days {
  font-family: "Coda", cursive;
  text-align: center;
  color: #0edcff;
  display: block;
  border: 2px;
  border-style: solid;
  border-color: #fa9eeb;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 5px 3px auto;
}
.weather-icon-days {
  color: #d0d0d8;
  font-size: 40px;
}
footer {
  text-align: center;
  color: rgba(205, 207, 208, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  position: relative;
  top: 15px;
}
